* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  background: #B2FBA5;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  padding: 16px;
  opacity: 0.8;
}
.title {

    display: flex;
    width: 90vw;
    aspect-ratio: 157/27;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    border: 4px solid #5C523E;
    background: #06402B;

    color: var(--white, #e8dbed);

    /* text styling */
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#mediaControl{
    position: absolute;
    bottom: 10px;
    width: 90vw;
    height: 23vh;
    background: #B2FBA5;

}

#backBtn {
  background-image: url(assets/WoodenBackForwardButton.png);
  background-repeat: no-repeat;
  border:0;
  /* put the height and width of your image here */
   display: flex;
    width: 96px;
    height: 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    background-size: cover;
    background-color : #B2FBA5;
    position: fixed;

}
#forwardBtn {
  background-image: url(assets/WoodenForwardButton.png);
  background-repeat: no-repeat;
  border:0;
  /* put the height and width of your image here */
   display: flex;
    width: 96px;
    height: 96px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* gap: 1rem; */
    background-size: cover;
    background-color : #B2FBA5;
    position: fixed;
    right:10px;
    
}



input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}